<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy />
    <bean id="triangle" class="com.ttn.spring.Triangle">
        <property name="name" value ="Equilateral Triangle"/>
    </bean>
    <bean id="circle" class="com.ttn.spring.Circle">
       <property name="name" value=" Small Circle"/>
    </bean>
    <bean id="shapeservices" class="com.ttn.spring.ShapeService" autowire="byName"/>
    <bean id="loggingaspect" class="com.ttn.spring.LoggingAspect"/>
</beans>